* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Montserrat', Arial, sans-serif;
}

ul {
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    text-decoration: none;
    padding: 0 20px;
    list-style: none;
}

li * {
    text-decoration: none;
    color: white;
}
