@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

html {
    font-size: 16px;
    background-color: #000;
}

body {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
    background-color: #000;
}

.cont-navmenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px 20.667px 20px 46.667px;
    background-color: #000;

}

.link-logo {
    fill: #fff;
    display: flex;
    width: 134px;
}

.buttons-container {
    display: flex;
    gap: 20px;
}

.buttons-user {
    display: flex;
    text-decoration: none;
    list-style: none;
}

.btn-item {
    color: #fff;
    padding: 28px 17px;
    font-weight: bold;
    font-size: 14.4px;
    text-decoration: none;
}

.btn-item:hover {
    color: #1ed760;

}

.separator {
    color: #fff;
    font-size: 16px;
    margin: 32px 17px;
}

/* --Botón para el menú desplegable del Premium-
------------------------------------------------
-------------------------------------------------*/

.btn-premium {
    background-color: #000;
    border: none;
    font-size: 16px;
    font-weight: bold;
    margin-right: 12px;
    cursor: pointer;
    font-family: 'Rubik';
}

.premium-title span:hover {
    color: #1ed760;
}


.btn-premium-header {
    /* Esta hecho*/
    display: flex;
    text-decoration: none;
    font: inherit;
    font-weight: 700;
    outline: none;
}



.dropdown-menu {
    display: none;
    position: absolute;
    left: 47.2%;
    top: 13.9%;
    background-color: #282828;
    padding: 20px;
    margin-left: 5px;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}


.show {
    display: block;
    opacity: 1;
    visibility: visible;
}

.option a {
    margin-right: 84px;
    padding-left: 20px;
}


.option {
    list-style-type: none;
    list-style: none;
    background-color: #282828;
    display: flex;
    margin-bottom: 20px;
}

.option #premium-options.dropdown-menu {
    background-color: #282828;
    padding-right: 100px;
    padding-bottom: 20px;
    display: flex;
}


.option-link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background-color: #282828;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 15px;
}


.option-title {
    background-color: #282828;
    margin-bottom: 10px;
}

.option-description {
    font-size: 10px;
    font-weight: 300;
    background-color: #282828;
    margin-top: 5px;
    margin-bottom: 20px;
}


/**------------ CONTENT-SECTION --------------**/

/* Estilos para el contenedor principal */
.content_landing {
    width: 100%;
    /* Ajusta según sea necesario */
    max-width: 4000px;
    background: linear-gradient(to top, #000, #000, #000, #FFD2D7);
    /* Ajusta los colores del degradado 0deg, rgba(255, 210, 215, 0) 0%, var */
    color: #fff;
    padding: 40px;
    margin: 0 auto;
    /* Centra el contenedor */
}




/* Configuración de flexbox para organizar el contenido de la promoción */
.content-promo {
    display: flex;
    max-width: 1200px;
    /* Ajusta el ancho máximo según sea necesario */
    gap: 40px;
    padding: 40px;
    margin-top: 20px;
}

/* Columna para el texto y los botones */
.promo {
    flex: 1;
    margin-right: 90px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Estilo para el título y subtítulo */
.ofert-promo h1 {
    font-size: 39.5429px;
    font-weight: bold;
    margin-bottom: 10px;
}

.ofert-promo h2 {
    font-size: 16px;
    color: #fff;
    font-weight: 300;
}

/* Estilo del temporizador */
.timer-ofert {
    display: flex;
    font-size: 16px;
    font-weight: 360;
    background-color: #333;
    padding: 4px 8px;
    margin-right: 245px;
    border-radius: none;
}

.icon-ofert {
    fill: #0064c1;
    width: 16px;
    height: 16px;
    margin-right: 10px;
}

/* Estilos de los botones */
.buttons-promo {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 10px;
    border-radius: 50px;
    font-weight: 700;
    font-family: 'Rubik';
}

.button-component {
    display: flex;
    gap: 15px;
    padding: 0;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    background-color: #000;
    border-radius: 50px;
    font-size: 1rem;
    cursor: pointer;
}


.btn-prueba,
.btn-plan {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    border-radius: 30px;
    padding: 8px 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    cursor: pointer;
    text-decoration: none;
    border: none;
    transition: background-color 0.3s ease;
}

/* Estilos específicos para cada botón */
.btn-prueba {
    background-color: #f5c2c7;
}

.btn-prueba a {
    margin: 0;
}

.btn-prueba:hover {
    background-color: #ffebee;
    ;
}

.btn-plan {
    background-color: #000;
    color: #fff;
    border: 1px solid #fff;
}

.btn-plan:hover {
    background-color: #555;
}


.btn-prueba {
    background-color: #FFD2D7;
    color: #000;

}

.btn-plan {
    background-color: #000;
    color: #fff;
}

/* Términos legales */
.legal-terms {
    font-size: 11px;
    color: #fff;
}

.legal-terms a {
    color: #fff;

}

/* Contenedor de la imagen */
.img-promo {
    flex: 1;
    /* Ocupa la otra mitad del espacio */
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-promo img {
    max-width: 48%;
    height: auto;
    border-radius: 10px;
    margin-left: 132.5px;
    margin-top: 48.5px;
}

/* -------- Table Grid Premium -------*/

.content-benefit {
    margin: 0 42px;
}

.content-plans {
    padding: 75px 0;
}

.list-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plan-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 30px;
    max-width: 600px;
}

.plan-title h2 {
    font-weight: 700;
    font-size: 40px;
}

.plan-title h3 {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    margin: 8px 0px 24px;

}

.table-plans {
    display: grid;
    justify-content: center;
    border-bottom: 1px solid #fff;
    max-width: 100%;
    box-sizing: content-box;
}

.tr-header {
    display: flex;
    align-items: flex-end;
    max-width: auto;
    border-bottom: solid 1px;
}

.th-description {
    padding: 32px 8px 32px 20px;
    margin-right: 55px;
    position: relative;
    top: 30px;
    right: 10px
}

.th-free {
    padding: 32px 8px 32px 20px;
    text-align: center;
    position: relative;

}

.th-premium {
    text-align: start;
    margin-right: 20px;
}

.premium-container {
    display: flex;
    max-width: min-content;
    gap: 2px;
    padding-bottom: 32px;
}

.content-premium {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 2px;
    width: 50%;
    height: 20%;
    margin-left: 40px;
}

.p-content-premium {
    text-align: start;
}

.th-svg-premium {
    fill: currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 24px;
    height: 24px;
}

/* Estilos generales del cuerpo de la tabla */


.table-body {
    display: grid;
    flex-direction: column;
}

.column {
    display: flex;
    align-items: flex-end;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
    border-bottom: solid 1px;
}

.column:hover {
    background-color: #282828;
}

.benefit-1 {
    text-align: left;
    padding: 16px 10px;

    margin-right: 60px;
}

.text-dsc-1 {
    font-size: 14.732px;
    font-weight: 400;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}

.icon-x {
    padding: 16px 10px;
    position: relative;
    bottom: 10px;
    margin-left: 10px;
}

.icon-x-2 {
    padding: 16px 10px;
    position: relative;
    bottom: 10px;
    left: 5px;
    margin-left: 10px;
}

.icon-x-3 {
    padding: 16px 10px;
    position: relative;
    bottom: 10px;
    right: 10px;
    margin-left: 10px;
}

.icon-x-4 {
    padding: 16px 10px;
    position: relative;
    bottom: 10px;
    right: 2px;
    margin-left: 10px;
}

.icon-x-5 {
    padding: 16px 10px;
    position: relative;
    bottom: 10px;
    right: 15px;
    margin-left: 10px;
}

.icon-x-6 {
    padding: 16px 10px;
    position: relative;
    bottom: 10px;
    left: 15px;
    margin-left: 10px;
}

.icon-check {
    padding: 16px 10px;
    position: relative;
    left: 105px;
}

.icon-check-2 {
    padding: 16px 10px;
    position: relative;
    left: 110px;
}

.icon-check-3 {
    padding: 16px 10px;
    position: relative;
    left: 95px;
}

.icon-check-4 {
    padding: 16px 10px;
    position: relative;
    left: 102px;
}

.icon-check-5 {
    padding: 16px 10px;
    position: relative;
    left: 92px;
}

.icon-check-6 {
    padding: 16px 10px;
    position: relative;
    left: 123px;
}

.icon-check-1 .icon-check-2 .icon-check-3 .icon-check-4 .icon-check-5 .icon-check-6:hover {
    background-color: #282828;
}